.logo{
width: 200px;
margin-left: 45%;
}

.navbar { 
    display: grid; 
    grid-auto-flow: column; 
    gap: 20px; /* Adjust the gap as needed */ 
    margin-left: 17%;
    margin-top: 2%;
    font-size: 20px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  } 

a{
    text-decoration: none;
    color: black;
}

        
img {
    display: block;
    margin: 0 auto;
}

.examples {
    width: 25%; /* Adjust based on your layout needs */
    max-height: 400px; /* Set the maximum height for the images */
    object-fit: cover; /* This will crop the image to fit within the box while keeping the aspect ratio */
    border-radius: 15px; /* Optional: rounded corners */
}

.products {
    display: flex;
    justify-content: space-around; /* This evenly spaces out the items */
    flex-wrap: nowrap; /* Keep items in the same row */
    margin-top: 900px;
    padding: 0 5%; /* Add padding to adjust the side spacing */
}

footer{
    margin-top: 100px;
    padding: 100px;
    size: 10%;
}

.hoodie{
    margin-top: 5%;
    margin-left: 35%;
}

model-viewer{
    width:600px;
    height:600px;
}

/* From Uiverse.io by vinodjangid07 */ 
.cartBtn {
    margin-top: 1%;
    margin-left: 18%;
    width: 155px;
    height: 50px;
    border: none;
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    color: white;
    font-weight: 500;
    position: relative;
    background-color: rgb(29, 29, 29);
    box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
  }
  
  .cart {
    z-index: 2;
  }
  
  .cartBtn:active {
    transform: scale(0.96);
  }
  
  .product {
    position: absolute;
    width: 12px;
    border-radius: 3px;
    content: "";
    left: 23px;
    bottom: 23px;
    opacity: 0;
    z-index: 1;
    fill: rgb(211, 211, 211);
  }
  
  .cartBtn:hover .product {
    animation: slide-in-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-30px);
      opacity: 1;
    }
  
    100% {
      transform: translateY(0) rotate(-90deg);
      opacity: 1;
    }
  }
  
  .cartBtn:hover .cart {
    animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
  @keyframes slide-in-left {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  h2{
    margin-left: 10%;
  }
  h3{
    margin-left: 22%;
  }